* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: lightblue;
}

.container {
    max-width: 1000px;
    margin: 100px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    gap: 20px;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

.result-container p {
    background-color: rgb(211, 209, 209, 0.5);
    padding: 20px;
    min-width: 500px;
    border-radius: 10px;
}

.options-container h2 {
    margin-bottom: 20px;
}

.len-container {
    margin-bottom: 15px;
}

.toggles{ 
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    font-size: 2rem;
    background-color: rgb(173, 216, 230);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(173, 216, 230,0.5) ;
}