* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(254, 250, 224);
}

.container {
    max-width: 1000px;
    margin: 100px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    gap: 20px;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

.result-container {
    background-color: rgb(211, 209, 209, 0.5);
    padding: 20px;
    min-width: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container p {
  flex-grow: 1;
  font-size: 1.5rem;
}

.result-container i {
    color: rgb(84, 83, 83);
    font-size: 1.2rem;
    padding: .2rem;
}

.result-container i:hover {
    color: gray;
    cursor: pointer;
}

.options-container h2 {
    margin-bottom: 20px;
}

.len-container {
    margin-bottom: 15px;
}

.toggles{ 
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: rgb(204, 213, 174);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color:rgb(204, 213, 174, 0.8) ;
}