<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/gh/StephanWagner/jBox@v1.3.3/dist/jBox.all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- <link rel="stylesheet" href="../static/style.css" /> -->
    <title>Password Generator</title>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>
          No nonsense password generator to secure your accounts from hackers!
        </h1>
        <p>
          Use our online tool to create a secure password. We recommend using at
          least 12 characters with numbers and symbols for the best protection.
        </p>
      </header>

      <div class="result-container">
        <p id="passwordResult">z6=4'Uw2KS@7</p>
        <i class="fa-regular fa-copy notice" id="copyButton"></i>
        <i class="fa-solid fa-rotate" id="regenButton"></i>
      </div>

      <div class="options-container">
        <h2>Customize your password</h2>

        <form id="passwordForm">
          <div class="len-container">
            <label for="length">Password Length: </label>
            <span id="passlenval">12</span>
            <input
              type="range"
              min="8"
              max="50"
              value="12"
              class="slider"
              id="passlen"
            />
          </div>

          <div class="toggles">
            <div class="nums-container">
              <input type="checkbox" id="nums" name="nums" checked />
              <label for="nums"> Numbers</label>
            </div>
            <div class="splchars-container">
              <input type="checkbox" id="splchars" name="splchars" checked />
              <label for="splchars"> Special Characters</label>
            </div>
          </div>

          <button type="submit">Generate</button>
        </form>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
